[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock

[mysqld]
bind-address = 127.0.0.1
port = 3306
socket = /var/run/mysqld/mysqld.sock
user = mysql
basedir = /usr
datadir = /var/lib/mysql
language = /usr/share/mysql/english
pid-file = /var/run/mysqld/mysqld.pid
skip-external-locking
tmpdir = /tmp

[mysqldump]
quick
max_allowed_packet = 16M

[myisamchk]
key_buffer_size = 8M
sort_buffer_size = 8M

!includedir /etc/mysql/conf.d/
