AllowGroups sftp ssh
PermitRootLogin no
UsePAM yes

ChallengeResponseAuthentication no
Port 22
Protocol 2
Subsystem sftp /usr/lib/openssh/sftp-server -u 0007

Match Group sftp
	AllowTcpForwarding no
	ChrootDirectory /home/%u
	ForceCommand internal-sftp
